<ion-view title="Profissionais" hide-back-button="true" id="page2">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tutors()" id="connect-button5" style="font-weight:300;font-size:30px;" class="button button-calm button-large button-block">Professores particulares</a>
    <a ui-sref="connectCourses()" id="connect-button6" style="font-weight:300;font-size:30px;" class="button button-balanced button-large button-block">Cursinhos</a>
    <div class="spacer" style="width: 300px; height: 126px;"></div>
    <a ui-sref="connectPreferences()" id="connect-button4" style="font-weight:300;font-size:30px;" class="button button-dark button-large button-block icon-right ion-android-options">Preferências</a>
    <a ui-sref="mainMenu()" id="connect-button8" style="font-weight:300;font-size:30px;" class="button button-stable button-large button-block">Voltar</a>
  </ion-content>
</ion-view>