<ion-view title="Connect Courses" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="connectCourses-list9">
      <label class="item item-select" id="connectCourses-select8">
        <span class="input-label">Sort by:</span>
        <select>
          <option>Rating</option>
          <option>Price</option>
          <option>Difficulty</option>
        </select>
      </label>
      <ion-item class="item-thumbnail-left" id="connectCourses-list-item19">
        <img src="img/8sLvr5CTQJ642VvvRGEk_course1.png">
        <h2>Nuclear Physics</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="connectCourses-list-item20">
        <img src="img/yDmuOQ8Qrq3YbwfF4IcF_course2.png">
        <h2>Web Development</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 134px;"></div>
  </ion-content>
</ion-view>