<ion-view title="Main Menu" hide-back-button="true" id="page4" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div>
      <img src="img/xAygNmwQuubgeBH2oRV6_Logo.png" style="display: block; width: 60%; height: 90%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 61px;"></div>
    <a ui-sref="practice()" id="mainMenu-button18" style="font-weight:300;font-size:30px;" class="button button-balanced button-large button-block">Practice</a>
    <a ui-sref="connect()" id="mainMenu-button19" style="font-weight:300;font-size:30px;" class="button button-calm button-large button-block">Connect</a>
    <a ui-sref="statistics()" id="mainMenu-button11" style="font-weight:300;font-size:30px;" class="button button-assertive button-large button-block">Statistics</a>
  </ion-content>
</ion-view>